In [45]:
import pandas as pd

In [47]:
data=pd.read_csv('NFLX_dataset.csv')

In [49]:
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-02-05,262.000000,267.899994,250.029999,254.259995,254.259995,11896100
1,2018-02-06,247.699997,266.700012,245.000000,265.720001,265.720001,12595800
2,2018-02-07,266.579987,272.450012,264.329987,264.559998,264.559998,8981500
3,2018-02-08,267.079987,267.619995,250.000000,250.100006,250.100006,9306700
4,2018-02-09,253.850006,255.800003,236.110001,249.470001,249.470001,16906900
...,...,...,...,...,...,...,...
1004,2022-01-31,401.970001,427.700012,398.200012,427.140015,427.140015,20047500
1005,2022-02-01,432.959991,458.480011,425.540009,457.130005,457.130005,22542300
1006,2022-02-02,448.250000,451.980011,426.480011,429.480011,429.480011,14346000
1007,2022-02-03,421.440002,429.260010,404.279999,405.600006,405.600006,9905200
1008,2022-02-04,407.309998,412.769989,396.640015,410.170013,410.170013,7782400

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1009 non-null   object
 1   Open       1009 non-null   float64
 2   High       1009 non-null   float64
 3   Low        1009 non-null   float64
 4   Close      1009 non-null   float64
 5   Adj Close  1009 non-null   float64
 6   Volume     1009 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 55.3+ KB

In [53]:
input_data=data.drop(columns=['Date','Adj Close','Close'])
output_data=data['Close']

In [55]:
input_data

            Open        High         Low    Volume
0     262.000000  267.899994  250.029999  11896100
1     247.699997  266.700012  245.000000  12595800
2     266.579987  272.450012  264.329987   8981500
3     267.079987  267.619995  250.000000   9306700
4     253.850006  255.800003  236.110001  16906900
...          ...         ...         ...       ...
1004  401.970001  427.700012  398.200012  20047500
1005  432.959991  458.480011  425.540009  22542300
1006  448.250000  451.980011  426.480011  14346000
1007  421.440002  429.260010  404.279999   9905200
1008  407.309998  412.769989  396.640015   7782400

[1009 rows x 4 columns]

In [57]:
output_data

0       254.259995
1       265.720001
2       264.559998
3       250.100006
4       249.470001
           ...
1004    427.140015
1005    457.130005
1006    429.480011
1007    405.600006
1008    410.170013
Name: Close, Length: 1009, dtype: float64

In [59]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [61]:
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.2)

In [63]:
x_train

            Open        High         Low    Volume
1003  386.760010  387.000000  372.079987  11966600
215   267.660004  281.769989  266.480011  11456700
628   498.649994  510.440002  498.649994   5608000
72    324.899994  326.420013  322.799988   3577700
337   363.649994  367.100006  349.290009   7810300
...          ...         ...         ...       ...
76    344.339996  354.000000  341.119995  14758600
442   288.190002  290.559998  285.839996   3438300
784   516.400024  517.900024  503.850006   4094500
271   353.600006  359.880005  351.700012   6211900
813   507.600006  509.290009  499.000000   5127800

[807 rows x 4 columns]

In [65]:
x_test

           Open        High         Low    Volume
863  540.299988  540.650024  532.919983   1780700
991  536.989990  543.909973  530.070007   3077800
157  373.950012  377.609985  359.170013  11876800
794  529.929993  540.500000  527.030029   3938600
938  673.760010  676.489990  662.770020   2904800
..          ...         ...         ...       ...
29   315.799988  317.000000  307.339996   9925200
81   353.880005  359.989990  352.820007   7112300
931  638.000000  639.419983  625.159973   4114400
788  533.780029  534.419983  520.000000   4102200
662  489.010010  491.820007  479.260010   3482300

[202 rows x 4 columns]

In [67]:
y_train

1003    384.359985
215     274.880005
628     509.640015
72      324.179993
337     352.010010
           ...
76      349.290009
442     288.589996
784     504.790009
271     359.609985
813     509.000000
Name: Close, Length: 807, dtype: float64

In [69]:
y_test

863    537.309998
991    540.840027
157    366.959991
794    539.419983
938    668.520020
          ...
29     313.480011
81     359.929993
931    628.289978
788    520.809998
662    491.170013
Name: Close, Length: 202, dtype: float64

In [71]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [73]:
pred=model.predict(x_test)

In [75]:
print(r2_score(pred,y_test))

0.9981906980126278

In [77]:
model_path = 'linear_regression_model.pkl'
joblib.dump(model, model_path)

['linear_regression_model.pkl']

In [94]:
model

LinearRegression()

In [96]:
import pickle

In [106]:
with open("mdl.pkl","wb") as f:
    pickle.dump(model,f)

In [108]:
with open("mdl.pkl","rb") as f:
    d=pickle.load(f)

In [112]:
d

LinearRegression()

In [114]:
pwd

'C:\\Users\\Admin\\python\\streamlit'

In [88]:
import pickle
joblib.dump(model, 'linear_regression_model.pkl')

['linear_regression_model.pkl']

In [92]:
import joblib
import numpy as np

# Path to the saved model
model_path = 'linear_regression_model.pkl'

# Load the model
model = joblib.load(model_path)

# Create some sample input data
# Adjust this according to the features your model expects
sample_input = np.array([[500.0, 500.0, 500.0, 1000000]])  # Example: [Open, High, Low, Volume]

# Make a prediction
try:
    prediction = model.predict(sample_input)
    print(f'The prediction for the sample input is: {prediction[0]:.2f}')
except Exception as e:
    print(f"Error making prediction: {e}")

The prediction for the sample input is: 500.10

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(